{% import '@apostrophecms/pager:macros.html' as pager with context %}
{% import 'fragments.html' as fragments with context %}

{% extends "layout.html" %}

{# article index page is full width #}
{% block sideNav %}{% endblock %}

{% block main %}
  <section class="index-page">
    <header class="index__header">
      <h1>{{ data.page.title }}</h1>
      {% area data.page, 'intro' %}
    </header>
    {% for article in data.pieces %}
      {% render fragments.indexItem(article) %}
    {% endfor %}

    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
  </section>

{% endblock %}
