.nav-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #52648e;
  text-decoration: none;
  &:hover {
    text-decoration: underline
  }
}
