# ; All packages are hoisted to node_modules/.pnpm/node_modules
# hoist-pattern[]=*

# ; All types are hoisted to the root in order to make TypeScript happy
# public-hoist-pattern[]=*types*

# ; All ESLint-related packages are hoisted to the root as well
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=*tiptap*
# public-hoist-pattern[]=*vue*

# This is what works for the apos build because
# of "dependencies of dependencies" that should be hoisted
shamefully-hoist=true
strict-peer-dependencies=true
